<div id="banner">
<table>
<tr>
	<td>
		<a class="link-vaisala-logo" href="http://www.vaisala.com/" title="Visit Vaisala" tabindex="1" accesskey="h">Vaisala</a>
		<p>/ CloudDB Configurator</p>
	</td>
	<td>
		<div id="clock"></div>
	</td>
</tr>
</table>
</div>

<div id="menubarDiv">
	<ul id="mainBar" class="menubar">
		<li><a href="/">RWIS Station Metadata</a></li>
		<li><a href="/page/stationAssociation">RWIS Station Association</a></li>
		<li><a href="/page/metarInfo">METAR Station Metadata</a></li>
		<li><a href="/page/roleManagement">Virtual Region Setup</a></li>
		<li><a href="/page/userManagement">User Management</a></li>
	</ul>
</div>
