{"bounds": {"bottom": {{ item.value.bounds.bottom }}, "top": {{ item.value.bounds.top }}, "left": {{ item.value.bounds.left }}, "right": {{ item.value.bounds.right }}}, "dimensions": [{{ item.value.size.width }}, {{ item.value.size.height }}]}
