#!/usr/bin/env python

import socket
import psycopg2

from sys import exit
from datetime import datetime, timedelta

node_name="{{ ansible_hostname }}"
            
with psycopg2.connect("dbname=repmgr host=localhost user=pgsqlchkusr password={{ postgres_users.pgsqlchkusr['password'] }}") as conn:
    with conn.cursor() as cur:
        try:
            cur.execute('UPDATE repmgr_vaicld.pgsqlchk SET test = True;')
            print "OK - Master"
            exit(0)
        except psycopg2.InternalError:
            conn.rollback()
            cur.execute('SELECT last_monitor_time, replication_time_lag, communication_time_lag FROM repmgr_vaicld.repl_status where standby_name = %s', (node_name, ))
            last_monitor_time, replication_time_lag, communication_time_lag = cur.fetchone()

if datetime.utcnow().replace(tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)) - last_monitor_time > timedelta(minutes=5):
    print "CRITICAL - Last Monitor Time: %s" % last_monitor_time
    exit(1)
elif replication_time_lag and replication_time_lag > timedelta(minutes=1):
    print "CRITICAL - Replication Time Lag: %s" % replication_time_lag
    exit(1)
elif communication_time_lag and communication_time_lag > timedelta(minutes=1):
    print "WARNING - Communication Time Lag: %s" % communication_time_lag
    exit(2)
else:
    print "OK - Slave"
    exit(0)
