#!/usr/bin/env python

import socket
import psycopg2

from sys import exit, argv
from datetime import datetime, timedelta

dbstring = "host=localhost user=nagios password={{ postgres_users.nagios['password'] }}"
delta = 5

if argv[1] == "cloud":
    dbstring += " dbname=cloud"
elif argv[1] == "metar":
    dbstring += " dbname=metar"
    delta = 10
elif argv[1] == "forecast":
    dbstring += " dbname=forecast"
    delta = 120
elif argv[1] == "madis":
    dbstring += " dbname=madis"
    delta = 10
else:
    print "must specify a dbname"
    exit(3)


with psycopg2.connect(dbstring) as conn:
    with conn.cursor() as cur:
        cur.execute('select max(created) as latest from oe.data_value;')
        latest = cur.fetchone()[0]

if not latest:
    print "CRITICAL - No data inserted?"
    exit(1)
elif latest > datetime.utcnow():
    print "WARNING - Date in future? - %s" % latest
    exit(2)
elif datetime.utcnow() - latest > timedelta(minutes=delta):
    print "CRITICAL - Lastest Data: %s" % latest
    exit(1)
else:
    print "OK - Latest Data %s" % latest
    exit(0)

