description "etcd"

start on started
stop on shutdown

{% for ip in ansible_all_ipv4_addresses if ip.startswith(subnet) %}
{% if ip != db_float %}
exec /opt/etcd-v2.0.11-linux-amd64/etcd -data-dir /var/lib/etcd -name {{ ansible_hostname }} -addr {{ ip }}:4001 -peer-addr {{ ip }}:7001 -discovery {{ discovery_url }}
{% endif %}
{% endfor %}

