################################################################################
# configuration file for postgresql 'simpleServer' web service                 #
# currently supporting:                                                        # 
# imageDB                                                                      #                 
# trafficDB                                                                    #
# this file MUST reside in the </etc/vaisala-config/do-simserver> directory    #
# BJT August 2012                                                              #
################################################################################

#########################################
# debuglevels may be defined as text    #
# OFF ERROR WARNING NOTICE INFO DEBUG   #
# 0     1     2       3     4    5      #
#########################################

DebugLevel = WARNING
LogToFile = yes
LogFilePath = /var/log/simpleserver/forecast

ServerPort = 30001

SendTimeout = 60
ReceiveTimeout = 60
AcceptTimeout = 0
MaxKeepAlive = 100

##########################

# insert all values from a resultOf as a
# single transaction. This will speed up
# the insert process a great deal but
# will rollback the complete set on error.

#################################
# cludge to remove duplicate entries in xml files
# should be needed on forecast data

RemoveResultOfDuplicates = no

##########################

SetClientEncoding = yes
ClientCharset = LATIN1

BatchInsertMode = yes

##########################
# run a query after each data object insert
# shoyld become obselete when the app folk
# use the narrow tables

RunUpsertQuery = no

##########################

# Setting InsertIntoDatabase to <no>
# will prevent all database operations and also
# stop image resizing / thumbnail creation

InsertIntoDatabase = yes

##########################
# Strip out any ResultOf with Traffic Counting
# codespaces and save the stripped file for
# further processing.

SaveStrippedFiles = no
StrippedXMLOutputPath = /home/brent/simplehub/stripped

##########################

SaveXMLToFile = no 
XMLOutputPath = /home/brent/simplehub/output

# image schema type ############################

dbSchema = forecastDB 
Base64Encode = yes

SaveImagesToFile = no
ImageOutputPath = /home/brent/sendws-test/output/images
ImageQuality = 60

ReFormatImage = yes
ImageVerticalSize = 480
ImageHorizontalSize = 640

CreateThumbnailImage = yes
ThumbVerticalSize = 200
ThumbHorizontalSize = 300

CreateIconImage = yes
IconVerticalSize = 80
IconHorizontalSize = 120
##############################################


# postgres or pg_bouncer port
PostgresPort = 5432

PostgresServerAddr = localhost
PostgresDBName = forecast
PostgresUser = postgres
PostgresPassword = {{ postgres_password }}
#PostgresPassword = postgres



















