################################################################################
# configuration file for postgresql 'simpleServer' web service                 #
# currently supporting:                                                        # 
# imageDB                                                                      #                 
# trafficDB                                                                    #
# this file MUST reside in the </etc/vaisala-config/do-simserver> directory    #
# BJT August 2012                                                              #
################################################################################

#########################################
# debuglevels may be defined as text    #
# OFF ERROR WARNING NOTICE INFO DEBUG   #
# 0     1     2       3     4    5      #
#########################################

DebugLevel = ERROR
LogToFile = yes
LogFilePath = /var/log/simpleserver/madis

ServerPort = 51000

SendTimeout = 60
ReceiveTimeout = 60
AcceptTimeout = 0
MaxKeepAlive = 100

##########################
# Use gzip compression in the 
# response message if the calling
# client supports it.

CompressOutputMessage = yes

#################################

##########################

# insert all values from a resultOf as a
# single transaction. This will speed up
# the insert process a great deal but
# will rollback the complete set on error.

BatchInsertMode = yes

##########################

# cludge to remove duplicate entries in xml files

RemoveResultOfDuplicates = yes

##########################

SetClientEncoding = yes
ClientCharset = LATIN1

############################

# Setting InsertIntoDatabase to <no>
# will prevent all database operations and also
# stop image resizing / thumbnail creation

InsertIntoDatabase = yes

##########################
# Strip out any ResultOf with Traffic Counting
# codespaces and save the stripped file for
# further processing.

SaveStrippedFiles = no
StrippedXMLOutputPath = /home/data/madis/stripped

##########################

SaveXMLToFile = no 
#SaveXMLToFile = yes 
XMLOutputPath = /home/data/madis/xml-out


# image schema type ############################

dbSchema = cloudDB 
Base64Encode = yes
RunUpsertQuery = yes

SaveImagesToFile = no
ImageOutputPath = /home/data/madis/jpg
ImageQuality = 60

ReFormatImage = yes
ImageVerticalSize = 480
ImageHorizontalSize = 640

CreateThumbnailImage = yes
ThumbVerticalSize = 200
ThumbHorizontalSize = 300

CreateIconImage = yes
IconVerticalSize = 80
IconHorizontalSize = 120
##############################################


# postgres or pg_bouncer port
# PostgresServerAddr = 46.137.154.22
# PostgresPort = 5432

PostgresServerAddr = db.vaicld.com
PostgresPort = 6544
PostgresDBName = madis
PostgresUser = madisserver
PostgresPassword = {{ postgres_users.madisserver.password }}



