DebugLevel = ERROR
LogToFile = yes
LogFilePath = /var/log/simpleserver/rwis

ServerPort = 30000

SendTimeout = 60
ReceiveTimeout = 60
AcceptTimeout = 0
MaxKeepAlive = 100

CompressOutputMessage = yes

RemoveResultOfDuplicates = no

InsertIntoDatabase = no

SaveStrippedFiles = no

SaveXMLToFile = yes
XMLOutputPath = /var/local/rwis
