
##########################################################
# configuration file for Sendcc - bjt 2011               #
# **MUST** be located in </etc/vaisala-config/do-sendcc> #
##########################################################

# logging and debug stuff ######################
LogFilePath = /var/log/sendcc/fcast{{ item }}.log
LogToFile = yes
DebugLevel = 3
OutputXmlPath = /home/data/sendcc_dir/output
OutputXMLtoDisk = no
###############################################

# message Stuff ###############################
DeleteFilesOnSuccess = yes
SuccessPath =/home/data/sendcc_dir/success
MoveFilesOnSuccess = no
FastTrackRequired = no
stripUnderScores = yes
SendRetries = 3
ForceZuluTime = no
CompressOutputMessage = no
overRideXMLCodespace = no
SetClockFromServer = no
SetClockThreshold = 3
ConnectToServer = yes
AutoServerFallBack = no
# local server
PrimaryURL = http://localhost:30001

# PrimaryURL = http://46.137.154.22:30001
# PrimaryURL = http://192.237.178.59:50001
# SecondaryURL = http://192.168.1.2:30001

# new testDB UIO server
# PrimaryURL = http://192.168.32.19:18080//UploadIceObservationV2Service/Uio

###############################################
# returnStatus handling

# HandleReturnStatus1 = yes
# HandleReturnStatus2 = yes
# HandleReturnStatus3 = yes

#################################################
# faultCode handling

# HandleFaultCode1 = yes
# HandleFaultCode5 = yes

################################################

XMLIDType = stationFullName
XMLIdSource = messageheader
XMLStationID = test-station
XMLReason = scheduled
XMLCodeSpace = DEFENSE

###############################################

JPGReason = scheduled
JPGCameraNumber = 2
JPGIdSource = fileName
JPGStationID = test_jpg_station
JPGCodeSpace = ROSA_M_14
JPGIDType = webCamFileName

###############################################
# M14 message type #
VaiReason = scheduled
VAIIdSource = VAIBoardID
VAIStationID = uio_test_25
VaiCodeSpace = AIRPORTS
VAIIDType = stationFullName

#****************************************
UseExtendedVAIParser = no

# *************IMPORTANT******************
# Set this option to <yes> if you wish to
# process MAWS avicast 'm14' data files.
# Set to <no> for RoSA 'm14' types.
# Incorrectly setting this option 
# *WILL* cause 'field ID length'
# parsing problems and incorrect XML data 
###############################################

# Timeouts -- All periods in seconds ##########
EndpointConnectTimout = 5
XMLTransmitTimeout = 5
XMLReceiveTimeout = 30
JPGTransmitTimeout = 10
JPGReceiveTimeout = 15

###############################################

# Paths #######################################
XMLFilePath = /home/data/sendcc_dir/xml_dir
JPGFilePath = /home/data/sendcc_dir/images
VaiFilePath = /home/data/sendcc_dir/m14
processedXMLPath = /home/data/fc2obs/output/out_{{ item }}
ErrorFilePath = /home/data/sendcc_dir/error

###############################################

#=======================================================#
